.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  /*margin-bottom: 10px;*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.main_info {
  background-color: rgba(255,255,255,0.8);
  display: inline-block;
  margin: auto 0 auto 0;
  border-radius: 10px;
  border: 3px hidden #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #607d8b;

  /*position: absolute;*/
  /*float: left;*/
  /*opacity: 0.4;*/

}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header .navbar {
    margin-bottom: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*Reduce description margin*/
dl {
  margin-bottom:5px;
}

.description-panel {
  overflow-y: scroll;
  max-height: 256px;

}


.landpage {
  border-bottom: 1px solid #e5e5e5;
  background: url("/images/duo_run.jpg");

  background-repeat: no-repeat;
  background-size:100%;
  background-position: center;
  height:64vh;
  width:100%;

}

.definition_text {
  height:30vh;
}
.alt-bg {
  background-color: #607d8b;
  color:#FFF;
}
