<div class="container">
  <span>Test</span>
  <div ng-if="status.data_loaded">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"
          ng-class="{active:isCircuitSelected(null)}">
        <a ng-click="selectCircuit(null)" >
          All races</a></li>

      <li ng-repeat="(id, circuit) in circuits"
          ng-class="{active:isCircuitSelected(id)}"
        >
        <a ng-click="selectCircuit(id)" >
          {{circuit}}</a></li>
    </ul>

    <div class="row">
      <div ng-show="!isCircuitSelected(null)">
        <button class="btn btn-default" ng-click="showInfoCircuit()">View Circuit info</button>
      </div>
      <h4>Select your race</h4>
      <div class = "col-md-3">

        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="(id, race) in races"
              ng-style="selectedClass(race)"

            >
            <a ng-click="selectRace(race)" ng-style="selectedStyle(race)">

              {{race.name}}</a></li>
        </ul>
      </div>

      <div class="col-md-9">
        <div ng-show="show_info == 'circuit'">
          <h2>{{circuit_info.name}}</h2>

        </div>
        <div ng-if="show_info == 'race'">

          <!--Names-->
          <span ng-repeat="race in selected_races" ng-click="selectRace(race)"
                class="btn btn-default" ng-style="selectedStyle(race)">
            {{race.name}}
          </span>

          <div ng-if="isInfoRace('information')">
            <div ng-include="'views/races_charts.html'">
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div ng-if="status.data_loaded == false">
    <div class="panel panel-default">
      <div class="panel-heading"><div class="panel-heading">Loading data...</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Last query:</div>
      <div class="panel-body">
        <json-formatter json="last_query" open="1"></json-formatter>
      </div>
    </div>
  </div>
</div>
