<ul class="nav navbar-nav navbar-right" ng-controller="SettingsCtrl">

    <li class="navbar-text">{{version}} Settings </li>
    <!--<li class="navbar-text">Server Url: {{config.server_url}}</li>-->

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{config.server_url}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li ng-repeat="(key, value) in config.servers" ng-click="change_server(value)"><a>{{key}}</a></li>
        </ul>
    </li>

    <hr>
</ul>